img.navbar__logo{
	display: block;
	width: 12vh;
	margin-left: 10vh;
}
.navbar-right{
	font-family: 'Open Sans', sans-serif;
}
.navbar-brand, .navbar-nav>li>a{
	margin-right: 6vh;
	color: #343499;
}
.header_fundacion{
	background-image: url(../images/banner.jpg);
 	height: 70vh;
 	background-size: cover;
 	background-repeat: no-repeat;
 	opacity: 0.5;
}
.header_fundacion img{
	opacity: 0.5;
}